<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Notes</span>        
    <span class="example-spacer"></span>    
    <button mat-icon-button [matMenuTriggerFor]="menu">
	  <mat-icon>more_vert</mat-icon>
	</button>

	<mat-menu #menu="matMenu">
	  <button mat-menu-item (click)="btnAdd()">
	    <mat-icon>add</mat-icon>
	    <span>Add</span>
	  </button>
	  <button mat-menu-item (click)="btnList()">
	    <mat-icon>list</mat-icon>
	    <span>List</span>
	  </button>  
	</mat-menu>

  </mat-toolbar-row>        
</mat-toolbar>

<div *ngIf="page=='add'">
	<mat-card>	
		<mat-card-title>
			Add Note
		</mat-card-title>		
		<mat-card-content>
			
			<div class="example-container" align="center">
			  <mat-form-field>
			    <input matInput placeholder="Title" [(ngModel)]="note.title">
			  </mat-form-field>
			  <mat-form-field>
			    <input matInput placeholder="Subtitle" [(ngModel)]="note.subtitle">
			  </mat-form-field>
			  <mat-form-field>
			    <input matInput placeholder="Content" [(ngModel)]="note.content">
			  </mat-form-field>
			</div>			

		</mat-card-content>	

		<mat-card-actions align="end">	     	     
	     <button mat-raised-button color="warn" class="success-color" (click)="addNote()">Create</button>
		</mat-card-actions>	
	</mat-card>
</div>

<div *ngIf="page=='list'">
	<div *ngFor="let note of notes">
		<mat-card>	
			<mat-card-title>
				{{note.title}}
			</mat-card-title>
			<mat-card-subtitle>
				{{note.subtitle}}
			</mat-card-subtitle>
			<mat-card-content>
				{{note.content}}
			</mat-card-content>	

			<mat-card-actions align="end">
		     <button mat-raised-button color="primary">Edit</button>
		     <div fxFlex></div>
		     <button mat-raised-button color="warn">Remove</button>
			</mat-card-actions>	
		</mat-card>
	</div>
</div>
<!-- <button mat-mini-fab color="warn" class="success-color" style="text-align: center;" (click)="btnAdd()">
    	<mat-icon aria-hidden="false">add</mat-icon>
    </button>   -->
